body {
	font-family: 'Didact Gothic', sans-serif;
	margin: 0;
	padding: 0;

}

body * {
	vertical-align: top;

}

/* This is the Header */

.container {
	width: 960px;
	margin: auto;

}

.leftheader {

	margin-left: 39px;
	width: 485px;

}

.header {
	position: relative;
	background: url(http://s30.postimg.org/86cnedbgd/Screen_Shot_2014_01_15_at_1_24_01_PM.png);
	height: 70px;
	margin: 0px auto;
	background-position: center top;
	background-repeat: repeat-x;

}

.header .logo {
	margin-top: 10px;
	display: inline-block;

}

.header-text {
	display: inline-block;
	margin: 0 0 0 43px;

}

.header .nav {
	display: inline-block;
	padding: 0;

}

.header .nav li {
	list-style-type: none;
	display: inline-block;
	margin-right: 30px;
	text-shadow: 0 2px 2px #000;
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;

}

/*Usermenu is too high on the header by ~2px*/

.usermenu {

right: 150px;
top: 5px;
position: absolute;
display: inline-block;
margin-right: 60px;
padding-bottom: 15px;
height: 60px;

}

.avatar {
	height: 50px;
	width: 50px;
	position: absolute;
	border-radius: 50%;
	display: inline-block;

}

.avatar img {
	height: 50px;
	width: 50px;
	border-radius: 50%;

}

.username {
	
	display: inline-block;
	list-style-type: none;
	margin: 0 0 0 60px;
	margin-left: 60px;
	margin-top: 15px;
	font-size: 14px;
	color: white;
	text-shadow: 0 2px 2px #000;
	letter-spacing: 1px;
	
}

.usermenubutton {
	width: 23px;
	height: 60px;
	margin: -5px 3px;
	display: inline-block;

}


/* Banner Statement */

.white {
	height: 47px;
	min-width: 960px;
	background-color:  white;
	z-index: 1;
	-webkit-box-shadow: 0 5px 4px -6px black;

}

.h3 {
	color: rgb(65,65,65);
	font-weight: 400;
	font-size: 30px;
	text-align: center;
	vertical-align: top;
	bottom: 18px;
	position: relative;
	right: -11px;

}

/*Content Body*/

.contentbody {
	height: 578px;
	min-width: 960px;
	background-color: rgb(242,240,236);
	position: relative;
	z-index: -1;
	border-bottom: 1px solid rgb(216,216,215);

}

.bodycontainers{
	height: 578px;
	width: 946px;
	position: absolute;
	vertical-align: center;
	margin-right: 208px;
	margin-left: 281px;

}

.container1 {
	height: 405px;
	min-width: 473px;
	position: absolute;
	margin-right: 1px;

}

.container1 img {
	height: 401px;
	width: 620px;
	position: absolute;
	top: 30px;

}

.clearphotoheader {
	height: 55px;
	width: 620px;
	position: absolute;
	background-color: black;
	opacity: .6;
	top: 30px;

}

.thenational {
	display: inline-block;
	list-style-type: none;
	margin: 13px;
	font-size: 14px;
	color: white;
	letter-spacing: 1px;
	position: absolute;
	font-size: 20px;
	top: 8%;
	z-index: 1;

}

.timerclock img {
	height: 20px;
	width: 20px;
	position: absolute;
	top: 52px;
	z-index: 1;
	margin-left: 430px;

}

.boxunderphoto {
	position: absolute;
	margin-left: 0px;
	width: 620px;
	height: 85px;
	background: rgb(207,205,199);
	top: 431px;
}		

.boxtext {
	display: inline-block;
	list-style-type: none;
	margin: 17px;
	margin-left: 22px;
	color: rgb(56, 56, 58);
	letter-spacing: 1px;
	position: absolute;
	font-size: 19px;

}

.el {
	display: block;
	position: relative;
	top: 410px;
	height: 30px;
	left: -16px;
	width: 140px;
	background: #f9ce00;
	box-shadow: 0px 3px 7px;
	color: rgb(197,144,38);

}
	
.el:before, .el:after {
	content: '';
	display: block;
	position: absolute;
	border-style: solid;

}
	
.el:before {
	display: block;
	left: 0;
	top: 30px;
	border-width: 8px;
	border-color: #f9ce00 #f9ce00 transparent transparent;

}
	
.el:after {
	display: none;
	right: 0;
	top: 30px;
	border-width: 8px;
	border-color: #f9ce00 transparent transparent #f9ce00;

}

.mobmessage {
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	margin-left: 10px;
	color: rgb(250,248,248);
	text-shadow: 0 2px 2px rgb(243,173,19);
	height: 10px;
	width: 130px;
	top: 415px;
	position: absolute;
	font-size: 14px;
	letter-spacing: 1px;

}

.arrowcontainer {
	top: 499px;
	position: absolute;

}

.mobmsgarrow {
	width: 25px;
	height: 36px;
	position: absolute;

}
	
.useragreement {
	display: inline-block;
	list-style-type: none;
	margin: 10px;
	margin-left: 24px;
	color: rgb(111,111,111);
	height: 10px;
	width: 548px;
	top: 16px;
	position: absolute;
	font-size: 11px;
	letter-spacing: 1px;

}

.mobends {
	width: 150px;
	display: inline-block;
	list-style-type: none;
	margin: 30px;
	margin-left: 454px;
	font-size: 14px;
	color: white;
	top: 22px;
	position: absolute;
	z-index: 1;

}

.container2 {
	height: 405px;
	min-width: 473px;
	position: absolute;
	margin-left: 473px;
	
}

.box1 {
	height: 154px;
	width: 140px;
	background: rgb(207,205,199);
	top: 30px;
	margin-left: 168px;
	position: absolute;

}

.mobnum {
	color: white;
	margin-left: 197px;
	top: 10%;
	height: 0;
	position: absolute;
	font-size: 70px;
	text-shadow: 0 1px 1px #444;

}

.box2 {
	height: 154px;
	width: 140px;
	background: rgb(207,205,199);
	top: 30px;
	margin-left: 329px;
	position: absolute;
	
}

.neednumber {
	color: white;
	margin-left: 340px;
	top: 10%;
	height: 0;
	position: absolute;
	font-size: 70px;
	text-shadow: 0 1px 1px #444;

}

.boxdiv1 {
	height: 33px;
	width: 140px;
	position: absolute;
	background: rgb(181,174,163);
	margin-left: 168px;
	top: 37%;
	text-align: center;
	
}

.mobtxt {
	height: 33px;
	width: 140px;
	position: absolute;
	margin-left: 168px;
	text-align: center;
	color: rgb(70,70,70);
	top: 38%;
	font-size: 16px;
	text-shadow: 0px 1px 1px rgb(227,224,216);

}

.boxdiv2 {
	height: 33px;
	width:	140px;
	position: absolute;
	background: rgb(181,174,163);
	margin-left: 329px;
	top: 37%;
	text-align: center;
}

.mobneed {
	height: 33px;
	width: 140px;
	position: absolute;
	margin-left: 330px;
	text-align: center;
	color: rgb(70,70,70);
	top: 38%;
	font-size: 16px;
	text-shadow: 0px 1px 1px rgb(227,224,216);

}

.joinbutton {
	height: 62px;
	width: 300px;
	position: absolute;
	margin-left: 170px;
	top: 212px;
	border-radius: 6px;
	border: 1px solid rgb(210,143,0);
	box-shadow: 0px 2px 2px rgb(215,222,236);
	background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
	background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0 );
	z-index: 1;

}

.rewardbox {
	height: 77px;
	width: 290px;
	position: absolute;
	margin-left: 176px;
	top: 68%;
	background: white;
	border-radius: 6px;
	border: 1px solid rgb(177,177,177);
	box-shadow: inset 0px -2px 2px rgb(228,228,228);

}

.jointext {
	height: 33px;
	width: 140px;
	position: absolute;
	margin-left: 250px;
	text-align: center;
	color: white;
	top: 226px;
	font-size: 23px;
	text-shadow: 0px 2px 1px rgb(190,134,36);
	z-index: 2;

}

.medalcontainer {
	margin-left: 655px;
	height: 50px;
	width: 50px;
	position: absolute;	

}

.rewardboxmedal img {
	height: 55px;
	width: 40px;
	position: absolute;
	top: 285px;

}

.yourreward {
	height: 50px;
	width: 200px;
	position: absolute;
	color: rgb(46,46,46);
	top: 285px;
	margin-left: 46px;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px 2px 2px rgb(249,249,249);

}

.ticketpresale {
	height: 50px;
	width: 500px;
	position: absolute;
	color: rgb(46,46,46);
	top: 310px;
	margin-left: 46px;
	font-size: 14px;
	text-shadow: 0px 2px 2px rgb(249,249,249);

}

.stipulation {
	height: 45px;
	width: 270px;
	margin-left: 660px;
	top: 365px;
	color: rgb(144,144,143);
	font-size: 11px;
	position: absolute;
	text-align: center;
	border-bottom: solid 1px;
	border-bottom-color: rgb(144,144,143);

}

.socialmbutton {
	width: 300px;
	height: 65px;
	margin-left: 640px;
	top: 426px;
	position: absolute;

}

/*Twisted Sister Section*/

.whitebody {
	height: 610px;
	min-width: 960px;
	background-color: white;
	margin: 0 auto;

}

.wbcontainer {
	height: 323px;
	min-width: 960px;
	margin: 0 0 0 auto;
	position: relative;
	 
}

.grid1 {
	height: 323px;
	width: 320px;
	margin-left: 281px;
	position: absolute;
	display: inline-block;
	border-bottom: solid 1px rgb(144,144,143);

}

.grid1 img {
	height: 194px;
	width: 300px;
	top: 40px;
	margin-left: 0;
	position: absolute;
	border: 1px solid black;

}

.gridcontainer1 {
	height: 87px;
	width: 302px;
	background-color: white;
	position: absolute;
	top: 236px;
	margin-left: 281px;

}

.mymorntext {
	height: 17px;
	width: 148px;
	font-size: 16px;
	color: black;
	position: absolute;
	margin-left: 0px;
	top: 5px;
	font-weight: bolder;
	z-index: 2;
}

.mobneedmymorn {
	height: 17px;
	width: 176px;
	font-size: 12px;
	color: rgb(100,100,100);
	position: absolute;
	margin-left: 0px;
	top: 25px;
	font-weight: lighter;
	z-index: 2;
}

.timemymorn {
	height: 17px;
	width: 33px;
	font-size: 12px;
	color: black;
	position: absolute;
	margin-left: 261px;
	top: 5px;
	font-weight: lighter;
	z-index: 2;

}

.btmclock1 {
	margin-left: 239px;
	top: 4px;
	position: absolute;
	z-index: 2

}

/* grid 2 */

.grid2 {
	height: 323px;
	width: 320px;
	margin-left: 601px;
	position: absolute;
	display: inline-block;
	border-bottom: solid 1px rgb(144,144,143);

}

.grid2 img {
	height: 194px;
	width: 300px;
	top: 40px;
	margin-left: 0;
	position: absolute;
	border: 1px solid black;

}

.gridcontainer2 {
	height: 87px;
	width: 302px;
	background-color: white;
	position: absolute;
	top: 236px;
	margin-left: 281px;

}

.bsstext {
	height: 17px;
	width: 160px;
	font-size: 16px;
	color: black;
	position: absolute;
	margin-left: 320px;
	top: 5px;
	font-weight: bolder;
	z-index: 1;

}

.mobneedbss {
	height: 17px;
	width: 176px;
	font-size: 12px;
	color: rgb(100,100,100);
	position: absolute;
	margin-left: 320px;
	top: 25px;
	font-weight: lighter;
}

.timebss {
	height: 17px;
	width: 33px;
	font-size: 12px;
	color: black;
	position: absolute;
	margin-left: 581px;
	top: 5px;
	font-weight: lighter;

}

.btmclock2 {
	margin-left: 559px;
	top: 4px;
	position: absolute;

}

/* grid 3 */

.grid3 {
	height: 323px;
	width: 320px;
	margin-left: 921px;
	position: absolute;
	display: inline-block;
	border-bottom: solid 1px rgb(144,144,143);

}

.grid3 img {
	height: 194px;
	width: 300px;
	top: 40px;
	margin-left: -2px;
	position: absolute;
	border: 1px solid black;

}

.gridcontainer3 {
	height: 87px;
	width: 302px;
	background-color: white;
	position: absolute;
	top: 236px;
	margin-left: 923px;

}

.mmtext {
	height: 17px;
	width: 160px;
	font-size: 16px;
	color: black;
	position: absolute;
	margin-left: -4px;
	top: 5px;
	font-weight: bolder;
	z-index: 1;

}

.mobneedmm {
	height: 17px;
	width: 176px;
	font-size: 12px;
	color: rgb(100,100,100);
	position: absolute;
	margin-left: -4px;
	top: 25px;
	font-weight: lighter;
}

.timemm {
	height: 17px;
	width: 33px;
	font-size: 12px;
	color: black;
	position: absolute;
	margin-left: 258px;
	top: 5px;
	font-weight: lighter;

}

.btmclock3 {
	margin-left: 236px;
	top: 4px;
	position: absolute;

}

/*  Table area */

.mobschedule {
	margin-left: 282px;
	width: 144px;
	height: 22px;
	position: absolute;
	top: 1065px;
	color: black;
	font-size: 19px;
	font-weight: bolder;

}

table {
	line-height: 35px;
	margin-left: 282px;
	width: 620px;
	border-spacing: 0px;
	top: 64px;
	position: relative;
	color: rgb(65, 65, 65);
	font-size: 14px;
}

td {
	border-bottom: 1px solid #A7A7A7;

}

.col-1-nb, .col-2-nb, .col-3-nb {
	border: none;

}

.col-1, .col-1-nb {
	color: rgb(70, 70, 70);
	font-size: 16px;
	font-weight: bold;
	letter-spacing: -1px;

}

.col-2, .col-2-nb {
	text-align: center;
	color: rgb(120,120,120);
	font-size: 14px;
	font-weight: lighter;

}

.col-3, .col-3-nb {
	color: rgb(120, 120, 120);
	text-align: right;
	font-size: 14px;
	font-weight: lighter;

}

.graybotbox {
	line-height: 35px;
	margin-left: 930px;
	width: 310px;
	height: 200px;
	border-spacing: 0px;
	top: -130px;
	position: relative;
	background-color: rgb(208,205,195);
	font-size: 14px;

}

.startyourmob {
	height: 60px;
	width: 218px;
	margin-left: 45px;
	position: absolute;
	color: white;
	font-size: 25px;
	text-align: center;
	top: 20px;
	border-bottom: solid 6px rgb(189,187,181);
	text-shadow: 1px 1px rgb(152,150,147);

}

.circlebutton1 {
	height: 40px;
	width: 40px;
	margin-left: 30px;
	position: absolute;
	background: rgb(239,239,239);
	border-radius: 20px;
	top: 63px;
	z-index: 1;
	border: 1px solid rgb(143,141,137);
	box-shadow: 0px 1px 5px rgb(171, 177, 171);
	border: 1px solid rgba(128, 128, 128, 1);
	box-shadow: inset 0px 1px 0 0px rgba(255, 255, 255, 1),
	          0 0 4px 1px rgba(0, 0, 0, 0.20);
	background: rgb(214,214,214); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(214,214,214,1) 1%, rgba(251,251,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(214,214,214,1)), color-stop(100%,rgba(251,251,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204, 203, 203, 1) 1%,rgba(251,251,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6  ', endColorstr='#fbfbfb ',GradientType=0 ); /* IE6-9 */

}

.cbnum1 {
	height: 30px;
	width: 30px;
	font-size: 20px;
	color: rgb(120,120,120);
	margin-left: 13px;

}

.step1{
	height: 0px;
	width: 55px;
	font-size: 10px;
	color: rgb(120,120,120);
	margin-left: 8px;
	position: relative;
	top: 99px;
	text-align: center;
	display: inline;

}

.circlebutton2 {
	height: 40px;
	width: 40px;
	margin-left: 135px;
	position: absolute;
	background: rgb(239,239,239);
	border-radius: 20px;
	top: 63px;
	z-index: 1;
	border: 1px solid rgb(143,141,137);
	box-shadow: 0px 1px 5px rgb(171, 177, 171);

	border: 1px solid rgba(128, 128, 128, 1);
	box-shadow: inset 0px 1px 0 0px rgba(255, 255, 255, 1),
	          0 0 4px 1px rgba(0, 0, 0, 0.20);
	background: rgb(214,214,214); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(214,214,214,1) 1%, rgba(251,251,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(214,214,214,1)), color-stop(100%,rgba(251,251,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204, 203, 203, 1) 1%,rgba(251,251,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6  ', endColorstr='#fbfbfb ',GradientType=0 ); /* IE6-9 */

}

.cbnum2 {
	height: 30px;
	width: 30px;
	font-size: 20px;
	color: rgb(120,120,120);
	text-align: center;
	margin-left: 5px;
}


.step2{

	height: 0px;
	width: 55px;
	font-size: 10px;
	color: rgb(120,120,120);
	margin-left: 18px;
	position: relative;
	top: 99px;
	text-align: center;
	display: inline;

}
.circlebutton3 {
	height: 40px;
	width: 40px;
	margin-left: 240px;
	position: absolute;
	background: rgb(239,239,239);
	border-radius: 20px;
	top: 63px;
	z-index: 1;
	border: 1px solid rgb(143,141,137);
	box-shadow: 0px 1px 5px rgb(171, 177, 171);

	border: 1px solid rgba(128, 128, 128, 1);
	box-shadow: inset 0px 1px 0 0px rgba(255, 255, 255, 1),
          0 0 4px 1px rgba(0, 0, 0, 0.20);
	background: rgb(214,214,214); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(214,214,214,1) 1%, rgba(251,251,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(214,214,214,1)), color-stop(100%,rgba(251,251,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(214,214,214,1) 1%,rgba(251,251,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204, 203, 203, 1) 1%,rgba(251,251,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6  ', endColorstr='#fbfbfb ',GradientType=0 ); /* IE6-9 */

}

.cbnum3 {
	height: 30px;
	width: 30px;
	font-size: 20px;
	color: rgb(120,120,120);
	text-align: center;
	margin-left: 5px;
}

.step3 {
		height: 0px;
	width: 55px;
	font-size: 10px;
	color: rgb(120,120,120);
	margin-left: 214px;
	position: relative;
	top: 64px;
	text-align: center;
	display: inline;

}

.startbutton {
	height: 62px;
	width: 279px;
	position: absolute;
	margin-left: 14px;
	top: 126px;
	border-radius: 6px;
	border: 1px solid rgb(132,129,125);
	background-color: rgb(226,225,220); 
	z-index: 1;
	border: 1px solid rgba(128, 128, 128, 1);
  	background: rgb(231,230,226); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(231,230,226,1) 43%, rgba(209,205,200,1) 93%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(43%,rgba(231,230,226,1)), color-stop(93%,rgba(209,205,200,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(231,230,226,1) 43%,rgba(209,205,200,1) 93%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(231,230,226,1) 43%,rgba(209,205,200,1) 93%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(231,230,226,1) 43%,rgba(209,205,200,1) 93%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(231,230,226,1) 43%,rgba(209,205,200,1) 93%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e6e2  ', endColorstr='#d1cdc8 ',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.18), 
	inset 0px 1px 1px 0px rgba(255, 255, 255, 1);

}

.startmob {
	height: 33px;
	width: 140px;
	position: absolute;
	margin-left: 85px;
	text-align: center;
	color: rgb(48,129,174);
	top: 140px;
	font-size: 28px;
	text-shadow: 0px 2px 1px rgb(255,255,255);
	z-index: 2;

}

/*----footer----*/

.greyfooter {
	height: 400px;
	min-width: 960px;
	background-color: rgb(84,83,82);
	margin: 0 auto;
	position: relative;

}

.footercontainer1 {
	margin-left: 282px;
	width: 310px;
	height: 245px;
	position: relative;
	top: 62px;
	color: black;
	font-size: 19px;
	font-weight: bolder;

}

.subcon1 {
	margin-left: 0px;
	width: 0px;
	height: 340px;
	display: inline-block;

}

.mobcategories {
	height: 20px;
	width: 150px;
	margin-left: 282px;
	position: absolute;
	top: 20px;
	font-size: 18px;
	text-shadow: 0 1px 1px black;
	color: white;

}


.subcon2 {
	margin-left: 159px;
	width: 0px;
	height: 340px;
	display: inline-block;

}


.footerbox {
	top: 10px;
	margin-left: 0px;
	margin-bottom: 10px;
	width: 140px;
	height: 38px;
	display: inline-block;
	background-color: rgb(99,99,98);
	border: 1px solid rgb(55,55,55);
	font-size: 13px;
	text-shadow: 0px 1px 1px rgb(0, 0, 0);
	color: white;
	text-align: center;
	line-height: 38px;
	border-radius: 6px;
	border: 1px solid rgba(0, 0, 0, 0.36);
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .254);

}


.footercontainer2 {
	margin-left: 660px;
	width: 260px;
	height: 306px;
	position: absolute;
	top: 1px;
	color: black;
	font-size: 19px;
	font-weight: bolder;

}


.connectwmob {
	margin-left: 0;
	width: 322px;
	top: 20px;
	font-size: 18px;
	text-shadow: 0 1px 1px black;
	color: white;
	position: absolute;

}


.bethefirst {
	margin-left: 0;
	top: 60px;
	font-size: 10px;
	text-shadow: 0 1px 1px black;
	color: white;
	position: absolute;

}

.email {
	top: 110px;
	width: 227px;
	height: 40px;
	border-radius: 6px;
	background-color: rgb(253,253,253);
	position: absolute;
	

}


.emailtxt {
	text-align: center;
	margin-left: -172px;
	position: relative;
	top: 3px;
	color: gray;
	font-size: 15px;
	line-height: 31px;

}


.facebook {
	height: 35px;
	width: 225px;
	top: 175px;
	border-bottom: 1px solid rgb(55,55,55);
	position: absolute;

}


.facebook img {
	height: 30px;
	width: 30px;

}

.likeus {
	height: 30px;
	width: 200px;
	top: 182px;
	margin-left: 41px;
	position: absolute;
	font-size: 12px;
	color: white;
	text-shadow: 0px 1px 1px black;

}

.twitter {
	height: 35px;
	width: 225px;
	top: 215px;
	border-bottom: 1px solid rgb(55,55,55);
	position: absolute;
}
 

 .twitter img {
 	height: 30px;
 	width: 30px;
 
 }

 .followus {
 	height: 30px;
	width: 200px;
	top: 223px;
	margin-left: 41px;
	position: absolute;
	font-size: 12px;
	color: white;
	text-shadow: 0px 1px 1px black;
 
 }


.gplus {
	height: 35px;
	width: 225px;
	top: 255px;
	position: absolute;

}


.gplus img {
	height: 30px;
	width: 30px;
}

.plus1 {

	height: 30px;
	width: 200px;
	top: 260px;
	margin-left: 41px;
	position: absolute;
	font-size: 12px;
	color: white;
	text-shadow: 0px 1px 1px black;
 
}

.btmright {
	top: 20px;
	height: 260px;
	width: 225px;
	position: absolute;
	margin-left: 354px;
	border-bottom: 1px solid rgb(55,55,55);

}


.howitwks {
	height: 55px;
	width: 220px;
	position: absolute;
	margin-left: 3px;
	top: 0px;
	border-radius: 6px;
	border: 1px solid rgb(210,143,0);
	box-shadow: 0px 2px 2px rgb(69,68,68);
	background: -moz-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
	background: -webkit-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -o-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: -ms-linear-gradient(top, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	background: linear-gradient(to bottom, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=0 );
	z-index: 1;

}

.howtxt {
	height: 55px;
	width: 220px;
	top: 15px;
	margin-left: 3px;
	position: absolute;
	text-align: center;
	color: white;
	font-size: 18px;
	z-index: 2;
	text-shadow: 0px 2px 1px rgb(190,134,36);

}

.problems {
	margin-left: 3px;
	width: 150px;
	top: 85px;
	font-size: 18px;
	text-shadow: 0 1px 1px black;
	color: white;
	position: absolute;

}

.feelfree {
	margin-left: 3px;
	top: 127px;
	font-size: 10px;
	text-shadow: 0 1px 1px black;
	color: white;
	position: absolute;

}

.emailus {

	top: 190px;
	margin-left: 3px;
	margin-bottom: 10px;
	width: 130px;
	height: 38px;
	position: absolute;
	background-color: rgb(99,99,98);
	border: 1px solid rgb(55,55,55);
	font-size: 13px;
	text-shadow: 0px 1px 1px rgb(0, 0, 0);
	color: white;
	text-align: center;
	line-height: 35px;
	border-radius: 6px;
	border: 1px solid rgba(0, 0, 0, 0.36);
	box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, .254);


}

.copyright img{
	top: 267px;
	position: absolute;
	
}





